* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: #f5f6f7;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

::placeholder {
  /* font-size: 16px; */
  color: silver;
  font-weight: 400;
}
.loaderSection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.loaderSection--block {
  width: 450px;
  height: 200px;
  background: #fff;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loaderSection--block-element {
  width: 70px;
  height: 70px;
  border-left: 4px solid purple;
  border-bottom: 4px solid purple;
  border-right: 4px solid purple;
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: loading .5s infinite;
}
@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
.nav {
  background: #6610f2;
  box-shadow: 0 1px 2px rgb(0 0 0 / 30%);

}
.navContainer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  display: flex;
  align-items: center;
}
.navContainer li {
  list-style: none;
  padding: 0 20px;
}
.navContainer li:first-child {
  padding-left: 0;
}
.navContainer a {
  text-decoration: none;
  color :#fff;
  text-transform: uppercase;
}
.navContainer form {
  display: flex;
  height: 45px;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}
.searchIcon {
  color: silver;
  font-size: 22px;
}
.searchControl {
  background: #fff;
  border: none;
  height: 45px;
  outline: none;
  width:350px;
  margin-left: 10px;
}
.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.col-2 {
  width: 16.66666666666667%;
}
.jobs {
  border-bottom: 1px solid #e5e7eb;
  padding: 15px;
}
.jobsHeading {
  padding: 12px;
  border-bottom: 1px solid #e5e7eb;
}
.jobsHeading .row .col-2 {
  font-weight: bold;
  text-transform: capitalize;
}
.jobs:last-child {
  border-bottom: none;
}
.allJobs {
  border: 1px solid #e5e7eb;
  margin: 30px 0;
  border-radius: 5px;
  background: #fff;
}
